body{
    background-color: #005580;
}

li{
    list-style-type: none;
}

h1{
    color: white;
    margin-bottom: $spacing;
}

.uppercase{
    text-transform: uppercase;
}

.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

    h1{
        color: white;
        font-size: $fontSize * 4;
    }
}
