.menu-header{
    border-bottom: 1px solid white;
    padding: $spacing;
    margin-bottom: $spacing * 2;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            margin-right: $spacing * 2;

            a{
                text-decoration: none;
                font-weight: bold;

                &:hover{
                    color: white;
                    border-bottom: 2px solid white;
                }
            }


        }

    }
}
